body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2{
    color: cadetblue;
}

header{
    justify-content: center;
    display: flex;
    font-size: 2em;
    font-weight: bold;
    background-color: dodgerblue;
    color: wheat;
    height: 2em;
    align-items: center;
}

#sidebar{
    background-color: lavender;
    max-width: 250px;
    height: 100vh;
    padding: 1em;
    float: left;
}

#userdetails{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.user-logo{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

footer{
    display: flex;
    justify-content: center;
}

ul li {
    list-style-type: none;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

ul li a {
    text-decoration: none;
    padding: 4px;
}

#taskList{
    width: 80%;
    padding: 10px;
    text-align: center;
}

#taskList td, #taskList th {
    padding: 15px;
    border: 1px solid black;
}

#taskList th {
    background-color: #5aafd3;
    color: #f2f2f2;
}
