body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2, h3{
    color: cadetblue;
}

header{
    justify-content: center;
    display: flex;
    font-size: 2em;
    background-color: dodgerblue;
    color: wheat;
    height: 2em;
    align-items: center;
}

#sidebar{
    background-color: lavender;
    width: 200px;
    max-width: 400px;
    height: 100vh;
    padding: 1em;
    float: left;
}

#userdetails{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.user-logo{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

#taskList{
    width: 50vw;
    padding: 4px;
    text-align: center;
}

td, th {
    padding: 4px;
    border: 1px solid black;
}

th {
    background-color: #5aafd3;
    color: #f2f2f2;
}

.new-items{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button{
    background: #5aafd3;
    padding: 10px;
    color: #f4f4f4;
    border: none;
    max-width: 200px;
    margin: 8px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#create-project-form, #create-task-form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 4px;
}

label{
    display: block;
    margin-bottom: 5px;
}

input, select, textarea {
    max-width: 200px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

#projectListContainer{
    padding: 5px;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

ul li{
    display: flex;
    padding: 10px;
    justify-content: space-around;
    list-style-type: none;
    margin-bottom: 10px;
    background-color: #f2f2f2;
}

ul li a {
    text-decoration: none;
}

.project-item{
    display: flex;
    background: #f2f2f2;
    padding: 8px;
    justify-content: space-between;
}

.fa-solid{
    font-size: 22px;
}

.delete-project, .addProject{
    background: none;
    color: #5aafd3;
}

.projectDiv{
    display: flex;
    justify-content: space-evenly;
}